
.game-container {
    position: relative;
    background-color: wheat;
    height: 50%;
    width: 50%;
    padding-right: 10%;
    padding-left: 10%;
}

.score-container {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 25%;
}

.bottom-container {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 25%;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
    grid-template-rows: repeat(4, 1fr);   /* 4 rows of equal height */
    width: 50%;
  
    
    /*
    top: 0;
    left: 0;
    background-color: #2196F3;
    padding: 10px;
    min-width: 1000px;
    width: 50%;
    height: 50%;
    width: 0vh; 
    padding-top: 100%;
    height:auto;
    position: absolute;
    */
}

.cell {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #000000;
  /*
  padding-top: 10%;
  justify-content: center;
  align-items: center;
    display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.tile {
  color: #000000;
  background-color: rgb(181, 125, 125);
}

.empty-cell {
  color: white;
  background-color: white;
}

/*
.cell-2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 5%;
  text-align: center;
  width: 100
  position: relative;
}
*/